<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1">
    <a *ngIf="post.url" [href]="post.url">{{post.title}}</a>
    <span *ngIf="!post.url">{{post.title}}</span>
  </h5>
  <small><b>{{ post.score <= 1 ? post.score + ' point' : post.score + ' points' }}</b></small>
</div>
<span>
  <small> by {{post.by}} - </small><small>{{ post.timeAgo }} ago </small>
</span>
<span *ngIf="post.kids && post.kids.length > 0">
  | <a href="#" (click)="openComments($event)"><small>  {{post.kids.length}} comments</small></a>
</span>
